## Nhatot Preprocessing

## 1. Imports
Import necessary libraries for data manipulation and regular expressions.

In [1]:
import pandas as pd
import numpy as np
import re

## 2. Load Data
Load the raw dataset.

In [2]:
df = pd.read_csv('../Data Collection/Datasets/nhatot.com/raw/nhatot.csv')
print("Original DataFrame shape:", df.shape)
df.head()

Original DataFrame shape: (3875, 6)

,Description,Location,Price,Price per m¬≤,Space,Title
0,"6 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Thanh Xu√¢n ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,L√ä TR·ªåNG T·∫§N_THANH XU√ÇN_50M_5 T·∫¶G PH√ÇN L√î_L√î G...
1,"3 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Ho√†ng Mai ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,B√ÅN NH√Ä THANH L√ÇN ‚Äì NH√Ä ƒê·∫∏P 5 T·∫¶N5 ‚Äì NG√ï N√îNG ...
2,1 PN ‚Ä¢ Chung c∆∞,Huy·ªán Gia L√¢m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,B√ÅN NHANH CƒÇN 1N +GI√Å 2.250 TR FULL N·ªòI TH·∫§T T...
3,"nhi·ªÅu h∆°n 10 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,CHDV M·ªÑ TR√å_62M2_7T TM_17P KK_D√íNG TI·ªÄN 95TR/T...
4,"4 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,M·ª∏ ƒê√åNH_D√ÇN X√ÇY_39M 4T_50M √î T√î_2 THO√ÅNG_ G·∫¶N ...

## 3. Initial Cleaning and Column Selection
Select relevant columns for the analysis and remove duplicate rows.

In [3]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

if duplicates > 0:
    df = df.drop_duplicates()
    print(f"Duplicates removed. New shape: {df.shape}")

Number of duplicate rows: 4
Duplicates removed. New shape: (3871, 6)

## 4. Extract Information from Description and Location
### Extract bedrooms and property type from Description

In [4]:
def extract_from_description(desc_str):
    """
    Extract number of bedrooms and property type from description string
    Expected format: "X PN ‚Ä¢ Property Type"
    """
    if pd.isna(desc_str):
        return np.nan, None
    
    desc_str = str(desc_str).strip()
    
    # Extract number of bedrooms (PN)
    bedroom_match = re.search(r'(\d+)\s*PN', desc_str)
    bedrooms = int(bedroom_match.group(1)) if bedroom_match else np.nan
    
    # Extract property type (after "‚Ä¢")
    property_parts = desc_str.split('‚Ä¢')
    property_type = property_parts[1].strip() if len(property_parts) > 1 else None
    
    return bedrooms, property_type

# Extract district and date posted from Location
def extract_from_location(location_str):
    """
    Extract district and posting date from location string
    Expected format: "District ‚Ä¢ Date"
    """
    if pd.isna(location_str):
        return None, None
    
    location_str = str(location_str).strip()
    parts = location_str.split('‚Ä¢')
    
    district = parts[0].strip() if len(parts) >= 1 else None
    date_posted = parts[1].strip() if len(parts) > 1 else None
    
    return district, date_posted

# Apply the extraction functions
print("\nExtracting information from Description and Location...")
df['bedrooms'], df['property_type'] = zip(*df['Description'].apply(extract_from_description))
df['district_name'], df['date_posted'] = zip(*df['Location'].apply(extract_from_location))

# Display results
print("Information extracted from Description and Location.")
print(df[['Description', 'bedrooms', 'property_type', 'Location', 'district_name', 'date_posted']].head())

Extracting information from Description and Location...
Information extracted from Description and Location.
                      Description  bedrooms property_type  \
0             6 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm       6.0  Nh√† ng√µ, h·∫ªm
1             3 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm       3.0  Nh√† ng√µ, h·∫ªm
2                 1 PN ‚Ä¢ Chung c∆∞       1.0      Chung c∆∞
3  nhi·ªÅu h∆°n 10 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm      10.0  Nh√† ng√µ, h·∫ªm
4             4 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm       4.0  Nh√† ng√µ, h·∫ªm

                          Location     district_name   date_posted
0   Qu·∫≠n Thanh Xu√¢n ‚Ä¢ 2 ng√†y tr∆∞·ªõc   Qu·∫≠n Thanh Xu√¢n  2 ng√†y tr∆∞·ªõc
1    Qu·∫≠n Ho√†ng Mai ‚Ä¢ 2 ng√†y tr∆∞·ªõc    Qu·∫≠n Ho√†ng Mai  2 ng√†y tr∆∞·ªõc
2     Huy·ªán Gia L√¢m ‚Ä¢ 2 ng√†y tr∆∞·ªõc     Huy·ªán Gia L√¢m  2 ng√†y tr∆∞·ªõc
3  Qu·∫≠n Nam T·ª´ Li√™m ‚Ä¢ 2 ng√†y tr∆∞·ªõc  Qu·∫≠n Nam T·ª´ Li√™m  2 ng√†y tr∆∞·ªõc
4  Qu·∫≠n Nam T·ª´ Li√™m ‚Ä¢ 2 ng√†y tr∆∞·ªõc  Qu·∫≠n Nam T·ª´ Li√™m  2 ng√†y tr∆∞·ªõc

## 5. Clean and Convert Numeric Fields

In [5]:
def extract_numeric_price(price_str):
    """
    Extract numeric price value and convert to millions VND
    Handles Vietnamese number formats (dots as thousand separators, commas as decimal separators)
    """
    if pd.isna(price_str):
        return np.nan
    
    price_str = str(price_str).strip().lower()
        
    # Extract numeric part
    numeric_match = re.search(r'([\d,.]+)', price_str)
    if not numeric_match:
        return np.nan
    
    # First remove dots (thousand separators), then replace commas with dots (decimal separators)
    numeric_value = numeric_match.group(1)
    numeric_value = numeric_value.replace('.', '')  # Remove thousand separators
    numeric_value = numeric_value.replace(',', '.')  # Convert decimal separators
    
    try:
        value = float(numeric_value)
    except ValueError:
        return np.nan
    
    # Convert based on unit
    if 't·ª∑' in price_str:
        # Convert to millions
        return value * 1000.0
    elif 'tri·ªáu' in price_str or 'tr' in price_str:
        # Already in millions
        return value 
    else:
        # Assume already in millions if no unit is found
        return value

def extract_numeric_price_per_m2(price_str):
    """
    Extract numeric price per m¬≤ value and convert to millions VND/m¬≤
    Handles Vietnamese number formats (dots as thousand separators, commas as decimal separators)
    """
    if pd.isna(price_str):
        return np.nan
    
    price_str = str(price_str).strip().lower()
    
    # Extract numeric part
    numeric_match = re.search(r'([\d,.]+)', price_str)
    if not numeric_match:
        return np.nan
    
    # First remove dots (thousand separators), then replace commas with dots (decimal separators)
    numeric_value = numeric_match.group(1)
    numeric_value = numeric_value.replace('.', '')  # Remove thousand separators
    numeric_value = numeric_value.replace(',', '.')  # Convert decimal separators
    
    try:
        value = float(numeric_value)
    except ValueError:
        return np.nan
    
    # Handle units - tr/m¬≤ is already in millions per m¬≤
    if 'tr/m¬≤' in price_str or 'tr/m2' in price_str or 'tri·ªáu/m¬≤' in price_str:
        return value
    elif 't·ª∑/m¬≤' in price_str:
        # Convert billions/m¬≤ to millions/m¬≤
        return value * 1000.0
    else:
        # Assume already in millions/m¬≤ if no unit is found
        return value

def extract_numeric_space(space_str):
    """
    Extract numeric space value in m¬≤
    Handles Vietnamese number formats (dots as thousand separators, commas as decimal separators)
    """
    if pd.isna(space_str):
        return np.nan
    
    space_str = str(space_str).strip().lower()
    
    # Extract numeric part
    numeric_match = re.search(r'([\d,.]+)', space_str)
    if not numeric_match:
        return np.nan
    
    # First remove dots (thousand separators), then replace commas with dots (decimal separators)
    numeric_value = numeric_match.group(1)
    numeric_value = numeric_value.replace('.', '')  # Remove thousand separators
    numeric_value = numeric_value.replace(',', '.')  # Convert decimal separators
    
    try:
        value = float(numeric_value)
    except ValueError:
        return np.nan
    
    # Handle units
    if 'm¬≤' in space_str or 'm2' in space_str:
        return value
    elif 'ha' in space_str:
        # Convert hectares to m¬≤
        return value * 10000.0
    else:
        # Assume already in m¬≤ if no unit is found
        return value

# Apply conversions
print("\nConverting string values to numeric with proper handling of Vietnamese number formats...")
df['price_numeric'] = df['Price'].apply(extract_numeric_price)
df['price_per_m2'] = df['Price per m¬≤'].apply(extract_numeric_price_per_m2)
df['area'] = df['Space'].apply(extract_numeric_space)

# Convert bedrooms to numeric
df['bedrooms'] = pd.to_numeric(df['bedrooms'], errors='coerce')

# Display results of the conversion
print("Numeric conversions completed.")
print("\nSample of converted values:")
comparison_df = pd.DataFrame({
    'Original Price': df['Price'].head(5),
    'Price (millions VND)': df['price_numeric'].head(5),
    'Original Price per m¬≤': df['Price per m¬≤'].head(5),
    'Price per m¬≤ (millions VND)': df['price_per_m2'].head(5),
    'Original Space': df['Space'].head(5),
    'Space (m¬≤)': df['area'].head(5)
})
print(comparison_df)

# Summary statistics for the numeric fields
print("\nSummary statistics for converted numeric fields:")
print(df[['price_numeric', 'price_per_m2', 'area', 'bedrooms']].describe())

Converting string values to numeric with proper handling of Vietnamese number formats...
Numeric conversions completed.

Sample of converted values:
  Original Price  Price (millions VND) Original Price per m¬≤  \
0        13,9 t·ª∑               13900.0             278 tr/m¬≤
1        13,9 t·ª∑               13900.0             278 tr/m¬≤
2        13,9 t·ª∑               13900.0             278 tr/m¬≤
3        13,9 t·ª∑               13900.0             278 tr/m¬≤
4        13,9 t·ª∑               13900.0             278 tr/m¬≤

   Price per m¬≤ (millions VND) Original Space  Space (m¬≤)
0                        278.0          50 m¬≤        50.0
1                        278.0          50 m¬≤        50.0
2                        278.0          50 m¬≤        50.0
3                        278.0          50 m¬≤        50.0
4                        278.0          50 m¬≤        50.0

Summary statistics for converted numeric fields:
       price_numeric  price_per_m2         area     bedrooms
count    3871.000000   3871.000000  3871.000000  3405.000000
mean     8979.235340    167.457763    56.832343     3.742731
std     16709.555893     98.201818    51.198020     1.853842
min       115.000000      1.100000    17.000000     1.000000
25%      4500.000000     95.000000    34.000000     3.000000
50%      6800.000000    168.000000    45.000000     3.000000
75%      9900.000000    217.000000    65.000000     4.000000
max    230000.000000    550.000000   650.000000    10.000000

In [6]:
df.head()

,Description,Location,Price,Price per m¬≤,Space,Title,bedrooms,property_type,district_name,date_posted,price_numeric,price_per_m2,area
0,"6 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Thanh Xu√¢n ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,L√ä TR·ªåNG T·∫§N_THANH XU√ÇN_50M_5 T·∫¶G PH√ÇN L√î_L√î G...,6.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Thanh Xu√¢n,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0
1,"3 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Ho√†ng Mai ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,B√ÅN NH√Ä THANH L√ÇN ‚Äì NH√Ä ƒê·∫∏P 5 T·∫¶N5 ‚Äì NG√ï N√îNG ...,3.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Ho√†ng Mai,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0
2,1 PN ‚Ä¢ Chung c∆∞,Huy·ªán Gia L√¢m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,B√ÅN NHANH CƒÇN 1N +GI√Å 2.250 TR FULL N·ªòI TH·∫§T T...,1.0,Chung c∆∞,Huy·ªán Gia L√¢m,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0
3,"nhi·ªÅu h∆°n 10 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,CHDV M·ªÑ TR√å_62M2_7T TM_17P KK_D√íNG TI·ªÄN 95TR/T...,10.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0
4,"4 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,M·ª∏ ƒê√åNH_D√ÇN X√ÇY_39M 4T_50M √î T√î_2 THO√ÅNG_ G·∫¶N ...,4.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0

## 6. Convert Categorical Fields to Codes
### Convert property_type and district_name to categorical codes

In [7]:
df['property_cat'] = df['property_type'].astype('category').cat.codes
df['district_cat'] = df['district_name'].astype('category').cat.codes

print("\nCategorical conversion completed.")
print("Number of unique property types:", df['property_type'].nunique())
print("Number of unique districts:", df['district_name'].nunique())

Categorical conversion completed.
Number of unique property types: 73
Number of unique districts: 28

In [14]:
df.head()

,Description,Location,Price,Price per m¬≤,Space,Title,bedrooms,property_type,district_name,date_posted,price_numeric,price_per_m2,area,property_cat,district_cat
0,"6 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Thanh Xu√¢n ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,L√ä TR·ªåNG T·∫§N_THANH XU√ÇN_50M_5 T·∫¶G PH√ÇN L√î_L√î G...,6.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Thanh Xu√¢n,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0,68,25
1,"3 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Ho√†ng Mai ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,B√ÅN NH√Ä THANH L√ÇN ‚Äì NH√Ä ƒê·∫∏P 5 T·∫¶N5 ‚Äì NG√ï N√îNG ...,3.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Ho√†ng Mai,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0,68,21
2,1 PN ‚Ä¢ Chung c∆∞,Huy·ªán Gia L√¢m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,B√ÅN NHANH CƒÇN 1N +GI√Å 2.250 TR FULL N·ªòI TH·∫§T T...,1.0,Chung c∆∞,Huy·ªán Gia L√¢m,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0,0,2
3,"nhi·ªÅu h∆°n 10 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,CHDV M·ªÑ TR√å_62M2_7T TM_17P KK_D√íNG TI·ªÄN 95TR/T...,10.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0,68,24
4,"4 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,M·ª∏ ƒê√åNH_D√ÇN X√ÇY_39M 4T_50M √î T√î_2 THO√ÅNG_ G·∫¶N ...,4.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Nam T·ª´ Li√™m,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0,68,24

## 7. Outlier Removal

In [9]:
def remove_outliers(df, columns, multiplier=1.5):
    """
    Remove outliers from specified columns using the IQR method
    """
    df_filtered = df.copy()
    for col in columns:
        if col in df.columns and df[col].dtype in ['int64', 'float64']:
            Q1 = df[col].quantile(0.25)
            Q3 = df[col].quantile(0.75)
            IQR = Q3 - Q1
            lower_bound = Q1 - multiplier * IQR
            upper_bound = Q3 + multiplier * IQR
            df_filtered = df_filtered[(df_filtered[col] >= lower_bound) & 
                                     (df_filtered[col] <= upper_bound)]
    return df_filtered

# Remove outliers from numeric fields
print("\nRemoving outliers from numeric fields...")
numeric_cols = ['price_numeric', 'price_per_m2', 'area', 'bedrooms']
print(f"Shape before outlier removal: {df.shape}")
df_no_outliers = remove_outliers(df, numeric_cols)
print(f"Shape after outlier removal: {df_no_outliers.shape}")
print(f"Removed {len(df) - len(df_no_outliers)} rows ({((len(df) - len(df_no_outliers))/len(df))*100:.2f}% of data) as outliers.")

Removing outliers from numeric fields...
Shape before outlier removal: (3871, 15)
Shape after outlier removal: (2467, 15)
Removed 1404 rows (36.27% of data) as outliers.

## 8. Check for Missing Values and Filter

In [15]:
print("\nChecking missing values in important columns...")
print(df_no_outliers[['price_numeric', 'price_per_m2', 'area', 'bedrooms', 'property_type', 'district_name']].isnull().sum())

# Remove rows with missing area or price_per_m2 (critical for analysis)
print(f"\nShape before removing rows with missing critical values: {df_no_outliers.shape}")
df_clean = df_no_outliers[
    df_no_outliers['area'].notna() & 
    df_no_outliers['price_numeric'].notna() & 
    (df_no_outliers['area'] > 0)  # Ensure area is positive
]
print(f"Shape after removing rows with missing critical values: {df_clean.shape}")
print(f"Removed {len(df_no_outliers) - len(df_clean)} rows with missing critical values.")

Checking missing values in important columns...
price_numeric    0
price_per_m2     0
area             0
bedrooms         0
property_type    0
district_name    0
dtype: int64

Shape before removing rows with missing critical values: (2467, 15)
Shape after removing rows with missing critical values: (2467, 15)
Removed 0 rows with missing critical values.

In [18]:
df.head(1)

,Description,Location,Price,Price per m¬≤,Space,Title,bedrooms,property_type,district_name,date_posted,price_numeric,price_per_m2,area,property_cat,district_cat
0,"6 PN ‚Ä¢ Nh√† ng√µ, h·∫ªm",Qu·∫≠n Thanh Xu√¢n ‚Ä¢ 2 ng√†y tr∆∞·ªõc,"13,9 t·ª∑",278 tr/m¬≤,50 m¬≤,L√ä TR·ªåNG T·∫§N_THANH XU√ÇN_50M_5 T·∫¶G PH√ÇN L√î_L√î G...,6.0,"Nh√† ng√µ, h·∫ªm",Qu·∫≠n Thanh Xu√¢n,2 ng√†y tr∆∞·ªõc,13900.0,278.0,50.0,68,25

## 9. Standardize Column Names and Final Cleanup

In [20]:
df_final = df_clean.copy()
df_final.rename(columns={
    'price_numeric': 'price_converted',
    'district_name': 'district',
    'area': 'area'
}, inplace=True)

# Retain only the necessary columns for modeling
columns_to_keep = [
    'Title', 'price_converted', 'price_per_m2', 'area', 'bedrooms', 
    'property_type', 'district', 'property_cat', 'district_cat'
]
df_final = df_final[columns_to_keep]

# Display final dataset info
print("\nFinal DataFrame shape:", df_final.shape)
print("\nFinal DataFrame info:")
print(df_final.info())
print("\nFinal DataFrame head:")
print(df_final.head())

# Save the processed DataFrame
output_path = '../Data Preprocessing/nhatot_processed.csv'
df_final.to_csv(output_path, index=False)
print(f"\nProcessed DataFrame saved to '{output_path}'")

# Show summary statistics of final dataset
print("\nSummary statistics for the final dataset:")
print(df_final.describe())

Final DataFrame shape: (2467, 9)

Final DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Index: 2467 entries, 1 to 3874
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            2467 non-null   object
 1   price_converted  2467 non-null   float64
 2   price_per_m2     2467 non-null   float64
 3   area             2467 non-null   float64
 4   bedrooms         2467 non-null   float64
 5   property_type    2467 non-null   object
 6   district         2467 non-null   object
 7   property_cat     2467 non-null   int8
 8   district_cat     2467 non-null   int8
dtypes: float64(4), int8(2), object(3)
memory usage: 159.0+ KB
None

Final DataFrame head:
                                               Title  price_converted  \
1  B√ÅN NH√Ä THANH L√ÇN ‚Äì NH√Ä ƒê·∫∏P 5 T·∫¶N5 ‚Äì NG√ï N√îNG ...          13900.0
4  M·ª∏ ƒê√åNH_D√ÇN X√ÇY_39M 4T_50M √î T√î_2 THO√ÅNG_ G·∫¶N ...          13900.0
6  C·∫ßn b√°n cƒÉn g√≥c 2PN+1,2WC 70m2 gi√° 3.2 t·ª∑ t·∫°i ...          13900.0
7  üî•üî•G·∫§P!! KH√îNG TH·ªÇ R·∫∫ H∆†N S402 98m 3n2vs, full ...          13900.0
8  NH√Ä B√ÅN PH·ªê ƒê·ªäNH C√îNG 20M/4T/3 NG·ª¶ /GI√Å 2,8 T·ª∂...          13900.0

   price_per_m2  area  bedrooms property_type          district  property_cat  \
1         278.0  50.0       3.0  Nh√† ng√µ, h·∫ªm    Qu·∫≠n Ho√†ng Mai            68
4         278.0  50.0       4.0  Nh√† ng√µ, h·∫ªm  Qu·∫≠n Nam T·ª´ Li√™m            68
6         278.0  50.0       2.0      Chung c∆∞     Huy·ªán Gia L√¢m             0
7         278.0  50.0       3.0      Chung c∆∞  Qu·∫≠n Nam T·ª´ Li√™m             0
8         278.0  50.0       2.0  Nh√† ng√µ, h·∫ªm    Qu·∫≠n Ho√†ng Mai            68

   district_cat
1            21
4            24
6             2
7            24
8            21

Processed DataFrame saved to '../Data Preprocessing/nhatot_processed.csv'

Summary statistics for the final dataset:
       price_converted  price_per_m2         area     bedrooms  property_cat  \
count      2467.000000   2467.000000  2467.000000  2467.000000   2467.000000
mean       6851.150385    161.180300    47.055128     3.298338     50.191731
std        3647.801207     83.302698    17.870496     0.874164     28.911423
min         115.000000      1.100000    17.000000     2.000000      0.000000
25%        4420.000000     99.000000    33.000000     3.000000     10.000000
50%        6200.000000    167.000000    42.000000     3.000000     68.000000
75%        8300.000000    211.000000    57.000000     4.000000     68.000000
max       17900.000000    397.000000   105.000000     5.000000     72.000000

       district_cat
count   2467.000000
mean      19.600730
std        6.420318
min        0.000000
25%       18.000000
50%       21.000000
75%       24.000000
max       27.000000