# Alonhadat Data Preprocessing
This notebook contains the steps to preprocess the alonhadat.csv dataset.
The steps are derived from the exploration phase and focus on cleaning and transforming the data for modeling.

## 1. Imports
Import necessary libraries for data manipulation and regular expressions.

In [1]:
import pandas as pd
import numpy as np
import re
# from datetime import datetime # Import if date processing is added later
# import warnings
# warnings.filterwarnings('ignore') # Uncomment if needed

## 2. Load Data
Load the raw dataset.

In [2]:
df = pd.read_csv('../Data Collection/Datasets/alonhadat.com/raw/alonhadat.csv')
print("Original DataFrame shape:", df.shape)
df.head()

Original DataFrame shape: (38960, 8)

,address,area,bedrooms,date,floors,price,title,url
0,"ƒê∆∞·ªùng Nguy·ªÖn VƒÉn C·ª´, Ph∆∞·ªùng Gia Th·ª•y, Qu·∫≠n Lon...",80 m\n2,1 ph√≤ng ng·ªß,H√¥m nay,1 l·∫ßu,"7,5 t·ª∑","ü•áƒê·∫§T NGUY·ªÑN VƒÇN C·ª™ 80M, MT8M, M·∫¢NH ƒê·∫§T R·ªòNG TH...",https://alonhadat.com.vnhttps://alonhadat.com....
1,"ƒê∆∞·ªùng Ng·ªçc L√¢m, Ph∆∞·ªùng Ng·ªçc L√¢m, Qu·∫≠n Long Bi√™...",36 m\n2,3 ph√≤ng ng·ªß,H√¥m nay,6 l·∫ßu,"8,65 t·ª∑","üî•C√íN DUY NH·∫§T 1 CƒÇN GI√Å R·∫∫, NG·ªåC L√ÇM 36M, 6T G...",https://alonhadat.com.vnhttps://alonhadat.com....
2,"ƒê∆∞·ªùng Ng√¥ Gia T·ª±, Ph∆∞·ªùng ƒê·ª©c Giang, Qu·∫≠n Long ...",56 m\n2,1 ph√≤ng ng·ªß,H√¥m nay,1 l·∫ßu,"15,5 t·ª∑","üëâM·∫∂T PH·ªê, NG√î GIA T·ª∞, 56M, MT4M, V·ªàA H√à ƒê√Å B√ìN...",https://alonhadat.com.vnhttps://alonhadat.com....
3,"ƒê∆∞·ªùng Ph√∫c L·ª£i, Ph∆∞·ªùng Ph√∫c L·ª£i, Qu·∫≠n Long Bi√™...",32 m\n2,3 ph√≤ng ng·ªß,H√¥m nay,5 l·∫ßu,"5,2 t·ª∑","ü•áCƒÇN DUY NH·∫§T, NG√ï TH√îNG, √î T√î , L√î G√ìC, PH√öC ...",https://alonhadat.com.vnhttps://alonhadat.com....
4,"Ph·ªë L·ªá M·∫≠t, Ph∆∞·ªùng Vi·ªát H∆∞ng, Qu·∫≠n Long Bi√™n, ...",58 m\n2,3 ph√≤ng ng·ªß,H√¥m nay,3 l·∫ßu,7 t·ª∑,"üè°VI·ªÜT H∆ØNG, DI·ªÜN T√çCH R·ªòNG 58m, 3T, MT5m GI√Å C...",https://alonhadat.com.vnhttps://alonhadat.com....

## 3. Initial Cleaning and Column Selection
Select relevant columns for the analysis and remove duplicate rows.

In [3]:
# Choosing relevant columns
df = df[['address', 'area', 'bedrooms', 'date', 'floors', 'price', 'title']]
print("Shape after column selection:", df.shape)

# Check for duplicates
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

if duplicates > 0:
    df = df.drop_duplicates()
    print(f"Duplicates removed. New shape: {df.shape}")
df.head()

Shape after column selection: (38960, 7)
Number of duplicate rows: 15325
Duplicates removed. New shape: (23635, 7)

,address,area,bedrooms,date,floors,price,title
0,"ƒê∆∞·ªùng Nguy·ªÖn VƒÉn C·ª´, Ph∆∞·ªùng Gia Th·ª•y, Qu·∫≠n Lon...",80 m\n2,1 ph√≤ng ng·ªß,H√¥m nay,1 l·∫ßu,"7,5 t·ª∑","ü•áƒê·∫§T NGUY·ªÑN VƒÇN C·ª™ 80M, MT8M, M·∫¢NH ƒê·∫§T R·ªòNG TH..."
1,"ƒê∆∞·ªùng Ng·ªçc L√¢m, Ph∆∞·ªùng Ng·ªçc L√¢m, Qu·∫≠n Long Bi√™...",36 m\n2,3 ph√≤ng ng·ªß,H√¥m nay,6 l·∫ßu,"8,65 t·ª∑","üî•C√íN DUY NH·∫§T 1 CƒÇN GI√Å R·∫∫, NG·ªåC L√ÇM 36M, 6T G..."
2,"ƒê∆∞·ªùng Ng√¥ Gia T·ª±, Ph∆∞·ªùng ƒê·ª©c Giang, Qu·∫≠n Long ...",56 m\n2,1 ph√≤ng ng·ªß,H√¥m nay,1 l·∫ßu,"15,5 t·ª∑","üëâM·∫∂T PH·ªê, NG√î GIA T·ª∞, 56M, MT4M, V·ªàA H√à ƒê√Å B√ìN..."
3,"ƒê∆∞·ªùng Ph√∫c L·ª£i, Ph∆∞·ªùng Ph√∫c L·ª£i, Qu·∫≠n Long Bi√™...",32 m\n2,3 ph√≤ng ng·ªß,H√¥m nay,5 l·∫ßu,"5,2 t·ª∑","ü•áCƒÇN DUY NH·∫§T, NG√ï TH√îNG, √î T√î , L√î G√ìC, PH√öC ..."
4,"Ph·ªë L·ªá M·∫≠t, Ph∆∞·ªùng Vi·ªát H∆∞ng, Qu·∫≠n Long Bi√™n, ...",58 m\n2,3 ph√≤ng ng·ªß,H√¥m nay,3 l·∫ßu,7 t·ª∑,"üè°VI·ªÜT H∆ØNG, DI·ªÜN T√çCH R·ªòNG 58m, 3T, MT5m GI√Å C..."

## 4. Address Processing
Extract structured information (road, ward, district) from the 'address' column and create categorical features.

In [4]:
# Function to extract road, ward, and district from address
def extract_address_components(address):
    road, ward, district = None, None, None
    if isinstance(address, str):
        road_pattern = r'(?:ƒê∆∞·ªùng|Ph·ªë|Ng√µ|H·∫ªm|ƒê·∫°i l·ªô|T·ªânh L·ªô|Qu·ªëc l·ªô|QL|TL)\s+([^,]+)'
        ward_pattern = r'(?:Ph∆∞·ªùng|X√£|Th·ªã tr·∫•n|P\.|X\.|TT\.)\s+([^,]+)'
        district_pattern = r'(?:Qu·∫≠n|Huy·ªán|Th·ªã x√£|Th√†nh ph·ªë|Q\.|H\.)\s+([^,\.]+)'
        
        road_match = re.search(road_pattern, address, re.IGNORECASE)
        ward_match = re.search(ward_pattern, address, re.IGNORECASE)
        district_match = re.search(district_pattern, address, re.IGNORECASE)
        
        if road_match:
            road = road_match.group(1).strip()
        if ward_match:
            ward = ward_match.group(1).strip()
        if district_match:
            district = district_match.group(1).strip()
            
    return road, ward, district

# Apply the function to create new columns
df[['road', 'ward', 'district']] = df['address'].apply(
    lambda x: pd.Series(extract_address_components(x))
)

# Create a column for complete extraction
df['address_complete'] = df[['road', 'ward', 'district']].notnull().all(axis=1).astype(int)

# Convert address components to categorical codes
df['road_cat'] = df['road'].astype('category').cat.codes
df['ward_cat'] = df['ward'].astype('category').cat.codes
df['district_cat'] = df['district'].astype('category').cat.codes

print("Address components extracted and categorical codes created.")
df[['address', 'road', 'ward', 'district', 'address_complete', 'road_cat', 'ward_cat', 'district_cat']].head()

Address components extracted and categorical codes created.

,address,road,ward,district,address_complete,road_cat,ward_cat,district_cat
0,"ƒê∆∞·ªùng Nguy·ªÖn VƒÉn C·ª´, Ph∆∞·ªùng Gia Th·ª•y, Qu·∫≠n Lon...",Nguy·ªÖn VƒÉn C·ª´,Gia Th·ª•y,Long Bi√™n,1,564,54,11
1,"ƒê∆∞·ªùng Ng·ªçc L√¢m, Ph∆∞·ªùng Ng·ªçc L√¢m, Qu·∫≠n Long Bi√™...",Ng·ªçc L√¢m,Ng·ªçc L√¢m,Long Bi√™n,1,603,157,11
2,"ƒê∆∞·ªùng Ng√¥ Gia T·ª±, Ph∆∞·ªùng ƒê·ª©c Giang, Qu·∫≠n Long ...",Ng√¥ Gia T·ª±,ƒê·ª©c Giang,Long Bi√™n,1,587,390,11
3,"ƒê∆∞·ªùng Ph√∫c L·ª£i, Ph∆∞·ªùng Ph√∫c L·ª£i, Qu·∫≠n Long Bi√™...",Ph√∫c L·ª£i,Ph√∫c L·ª£i,Long Bi√™n,1,667,193,11
4,"Ph·ªë L·ªá M·∫≠t, Ph∆∞·ªùng Vi·ªát H∆∞ng, Qu·∫≠n Long Bi√™n, ...",L·ªá M·∫≠t,Vi·ªát H∆∞ng,Long Bi√™n,1,445,313,11

## 5. Numeric Feature Conversion
Convert 'area', 'bedrooms', and 'floors' columns to numeric types, handling potential errors.

In [5]:
# --- Area ---
df['area'] = pd.to_numeric(df['area'].astype(str).str.extract(r'(\d+(?:[.,]\d+)?)', expand=False), errors='coerce')
# --- Bedrooms ---
df['bedrooms'] = pd.to_numeric(df['bedrooms'].astype(str).str.extract(r'(\d+)', expand=False), errors='coerce').astype('Int64')
# --- Floors ---
df['floors'] = pd.to_numeric(df['floors'].astype(str).str.extract(r'(\d+)', expand=False), errors='coerce').astype('Int64')

print("Numeric features converted.")
df[['area', 'bedrooms', 'floors']].info()
df[['area', 'bedrooms', 'floors']].head()

Numeric features converted.
<class 'pandas.core.frame.DataFrame'>
Index: 23635 entries, 0 to 38959
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      23635 non-null  float64
 1   bedrooms  20260 non-null  Int64
 2   floors    20386 non-null  Int64
dtypes: Int64(2), float64(1)
memory usage: 784.8 KB

   area  bedrooms  floors
0  80.0         1       1
1  36.0         3       6
2  56.0         1       1
3  32.0         3       5
4  58.0         3       3

## 6. Price Processing
Parse the 'price' column, converting string representations (e.g., "X t·ª∑", "Y tri·ªáu") into a standardized numeric 'price_converted' column (in millions).

In [6]:
def parse_price(price_str):
    if pd.isna(price_str):
        return np.nan
    
    price_str_lower = str(price_str).lower()
    
    if 'th·ªèa thu·∫≠n' in price_str_lower:
        return np.nan

    cleaned_price_str = price_str_lower.replace(',', '.')
    
    num_part_match = re.search(r'(\d+(?:\.\d+)?)', cleaned_price_str)
    if not num_part_match:
        return np.nan
        
    num_val = float(num_part_match.group(1))
    
    if 't·ª∑' in price_str_lower:
        return num_val * 1000  # Convert billions to millions
    elif 'tri·ªáu' in price_str_lower:
        return num_val
    return num_val / 1e6 # Convert raw VND to millions

df['price_converted'] = df['price'].apply(parse_price)

print("Price column parsed and 'price_converted' (in millions) created.")
df[['price', 'price_converted']].head()
df['price_converted'].describe()

Price column parsed and 'price_converted' (in millions) created.

count    2.361700e+04
mean     3.118170e+04
std      6.854573e+04
min      4.000000e-06
25%      7.000000e+03
50%      1.280000e+04
75%      2.550000e+04
max      1.050000e+06
Name: price_converted, dtype: float64

## 7. Outlier Removal (Initial Columns)
Define and apply the IQR method to remove outliers from 'area', 'bedrooms', 'floors', and 'price_converted'.

In [7]:
def remove_outliers_iqr(df_in, column):
    Q1 = df_in[column].quantile(0.25)
    Q3 = df_in[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df_in[(df_in[column] >= lower_bound) & (df_in[column] <= upper_bound)]

outlier_columns = ['area', 'bedrooms', 'floors', 'price_converted']
print(f"Shape before outlier removal: {df.shape}")

for col in outlier_columns:
    if col in df.columns and df[col].notna().sum() > 0:
        df = remove_outliers_iqr(df, col)
    else:
        print(f"Skipping outlier removal for column '{col}' as it's missing or all NA.")

print(f"Shape after outlier removal from {outlier_columns}: {df.shape}")
df[outlier_columns].describe()

Shape before outlier removal: (23635, 15)
Shape after outlier removal from ['area', 'bedrooms', 'floors', 'price_converted']: (14905, 15)

               area  bedrooms    floors  price_converted
count  14905.000000   14905.0   14905.0     14905.000000
mean      56.899555  4.232003  4.669373     13538.931091
std       25.671906  1.678575  1.493066      8628.593353
min        1.106000       1.0       1.0         0.000038
25%       40.000000       3.0       4.0      7000.000000
50%       50.000000       4.0       5.0     10800.000000
75%       68.000000       5.0       5.0     18000.000000
max      176.000000      10.0       9.0     41500.000000

## 8. Feature Engineering: Price per m¬≤
Create the 'price_per_m2' feature using the cleaned 'price_converted' and 'area'.

In [8]:
# Ensure 'area' is not zero or NA before division
df = df[df['area'].notna() & (df['area'] > 0)]
df['price_per_m2'] = df['price_converted'] / df['area']

print("'price_per_m2' column created.")
df[['area', 'price_converted', 'price_per_m2']].head()
df['price_per_m2'].describe()

'price_per_m2' column created.

count    1.490500e+04
mean     2.457164e+02
std      3.038716e+02
min      2.171429e-07
25%      1.690909e+02
50%      2.187500e+02
75%      2.948052e+02
max      2.513562e+04
Name: price_per_m2, dtype: float64

## 9. Outlier Removal for Price per m¬≤
Apply IQR outlier removal specifically to the newly created 'price_per_m2' column.

In [9]:
print(f"Shape before outlier removal for 'price_per_m2': {df.shape}")
if 'price_per_m2' in df.columns and df['price_per_m2'].notna().sum() > 0:
    df = remove_outliers_iqr(df, 'price_per_m2')
    print(f"Shape after outlier removal for 'price_per_m2': {df.shape}")
    print("\nSummary statistics for 'price_per_m2' after outlier removal:")
    print(df['price_per_m2'].describe())
else:
    print("Skipping outlier removal for 'price_per_m2' as it's missing or all NA.")

Shape before outlier removal for 'price_per_m2': (14905, 16)
Shape after outlier removal for 'price_per_m2': (14398, 16)

Summary statistics for 'price_per_m2' after outlier removal:
count    1.439800e+04
mean     2.278564e+02
std      9.321443e+01
min      2.171429e-07
25%      1.666667e+02
50%      2.156250e+02
75%      2.847882e+02
max      4.833333e+02
Name: price_per_m2, dtype: float64

## 10. Final Processed DataFrame
Display information about the final processed DataFrame.

In [10]:
print("Final DataFrame head:")
print(df.head())
print("\nFinal DataFrame info:")
df.info()
print("\nFinal DataFrame shape:", df.shape)

# Optional: Save the processed DataFrame
# df.to_csv('../Data Preprocessing/alonhadat_processed.csv', index=False)
# print("\nProcessed DataFrame saved to '../Data Preprocessing/alonhadat_processed.csv'")

Final DataFrame head:
                                             address  area  bedrooms     date  \
0  ƒê∆∞·ªùng Nguy·ªÖn VƒÉn C·ª´, Ph∆∞·ªùng Gia Th·ª•y, Qu·∫≠n Lon...  80.0         1  H√¥m nay
1  ƒê∆∞·ªùng Ng·ªçc L√¢m, Ph∆∞·ªùng Ng·ªçc L√¢m, Qu·∫≠n Long Bi√™...  36.0         3  H√¥m nay
2  ƒê∆∞·ªùng Ng√¥ Gia T·ª±, Ph∆∞·ªùng ƒê·ª©c Giang, Qu·∫≠n Long ...  56.0         1  H√¥m nay
3  ƒê∆∞·ªùng Ph√∫c L·ª£i, Ph∆∞·ªùng Ph√∫c L·ª£i, Qu·∫≠n Long Bi√™...  32.0         3  H√¥m nay
4  Ph·ªë L·ªá M·∫≠t, Ph∆∞·ªùng Vi·ªát H∆∞ng, Qu·∫≠n Long Bi√™n, ...  58.0         3  H√¥m nay

   floors     price                                              title  \
0       1    7,5 t·ª∑  ü•áƒê·∫§T NGUY·ªÑN VƒÇN C·ª™ 80M, MT8M, M·∫¢NH ƒê·∫§T R·ªòNG TH...
1       6   8,65 t·ª∑  üî•C√íN DUY NH·∫§T 1 CƒÇN GI√Å R·∫∫, NG·ªåC L√ÇM 36M, 6T G...
2       1   15,5 t·ª∑  üëâM·∫∂T PH·ªê, NG√î GIA T·ª∞, 56M, MT4M, V·ªàA H√à ƒê√Å B√ìN...
3       5    5,2 t·ª∑  ü•áCƒÇN DUY NH·∫§T, NG√ï TH√îNG, √î T√î , L√î G√ìC, PH√öC ...
4       3      7 t·ª∑  üè°VI·ªÜT H∆ØNG, DI·ªÜN T√çCH R·ªòNG 58m, 3T, MT5m GI√Å C...

            road       ward   district  address_complete  road_cat  ward_cat  \
0  Nguy·ªÖn VƒÉn C·ª´   Gia Th·ª•y  Long Bi√™n                 1       564        54
1       Ng·ªçc L√¢m   Ng·ªçc L√¢m  Long Bi√™n                 1       603       157
2     Ng√¥ Gia T·ª±  ƒê·ª©c Giang  Long Bi√™n                 1       587       390
3       Ph√∫c L·ª£i   Ph√∫c L·ª£i  Long Bi√™n                 1       667       193
4         L·ªá M·∫≠t  Vi·ªát H∆∞ng  Long Bi√™n                 1       445       313

   district_cat  price_converted  price_per_m2
0            11           7500.0     93.750000
1            11           8650.0    240.277778
2            11          15500.0    276.785714
3            11           5200.0    162.500000
4            11           7000.0    120.689655

Final DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Index: 14398 entries, 0 to 38956
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   address           14398 non-null  object
 1   area              14398 non-null  float64
 2   bedrooms          14398 non-null  Int64
 3   date              14398 non-null  object
 4   floors            14398 non-null  Int64
 5   price             14398 non-null  object
 6   title             14398 non-null  object
 7   road              14231 non-null  object
 8   ward              14382 non-null  object
 9   district          14398 non-null  object
 10  address_complete  14398 non-null  int64
 11  road_cat          14398 non-null  int16
 12  ward_cat          14398 non-null  int16
 13  district_cat      14398 non-null  int8
 14  price_converted   14398 non-null  float64
 15  price_per_m2      14398 non-null  float64
dtypes: Int64(2), float64(3), int16(2), int64(1), int8(1), object(7)
memory usage: 1.6+ MB

Final DataFrame shape: (14398, 16)

In [11]:
# Save the processed DataFrame
df.to_csv('../Data Preprocessing/alonhadat_processed.csv', index=False)